<ion-view title="About">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="stable-bg">
        <div class="list card">
            <ion-item class="item-text-wrap">
                VocaDB is a Vocaloid database that includes information, PVs and translations about Vocaloid artists, discography and songs
            </ion-item>
        </div>
        <div class="list card">
            <ion-item class="item-divider">
                <h2>Contact</h2>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="open('http://vocadb.net')">
                <i class="icon ion-earth"></i>
                <h2>Website</h2>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="open('https://www.facebook.com/vocadb')">
                <i class="icon ion-social-facebook"></i>
                <h2>Facebook</h2>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="open('https://twitter.com/VocaDB')">
                <i class="icon ion-social-twitter"></i>
                <h2>Twitter</h2>
            </ion-item>
            <ion-item class="item-icon-left" ng-click="open('https://plus.google.com/+VocaDbNet')">
                <i class="icon ion-social-googleplus"></i>
                <h2>Google+</h2>
            </ion-item>
        </div> 
    </ion-content>
</ion-view>