<ion-view title="Artists" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar bar-light bar-subheader item-input-inset ">
        <label class="item-input-wrapper">
            <i ng-class="loading? 'icon placeholder-icon ion-loading-a' : 'icon placeholder-icon ion-ios7-search'" ></i>
            <input type="search" placeholder="search" ng-model="query" ng-change="search()">
        </label>
    </ion-header-bar>

    <ion-content class="stable-bg" has-bouncing="true" ng-init="search()">
        <ion-list ng-show="artists.length">
            <ion-item class="item-avatar" ng-repeat="artist in artists" ng-href="#/tab/artist/{{artist.id}}">
                <img ng-src="{{getArtistImage(artist.id)}}"">
                <h2>{{artist.defaultName}}</h2>
                <p>{{artist.artistType}}</p>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll icon="none"  on-infinite="loadMore()" distance="1%"></ion-infinite-scroll> 
    </ion-content>

</ion-view>