<ion-view title="VocaDB" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div>
            <h4 style="opacity: 0.53; margin: 15px;">Highlighted songs</h4>
            <ion-list>
            <ion-item>
                Row 1
            </ion-item>
                <ion-item>
                Row 2
            </ion-item>
                <ion-item>
                Row 3
            </ion-item>
          </ion-list>
        </div>
        <div>
            <h4 style="opacity: 0.53; margin: 15px;">Recent or upcoming albums</h4>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="item item-image" >
                            <img src="http://vocadb.net/Album/CoverPicture/9519" >
                        </div>
                        <div class="item">
                            <h2>test</h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="item item-image">
                            <img src="http://vocadb.net/Album/CoverPicture/2179">
                        </div>
                         <div class="item">
                            <h2>test</h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="item item-image">
                            <img src="http://vocadb.net/Album/CoverPicture/2231">
                        </div>
                         <div class="item">
                            <h2>test</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </ion-content>
</ion-view>