<div class="modal" ng-controller="searchModal">

    <ion-header-bar class="bar-positive item-input-inset">
        <label class="item-input-wrapper">
            <i ng-class="loading? 'icon placeholder-icon ion-loading-a' : 'icon placeholder-icon ion-ios7-search' " ></i>
            <input type="search" placeholder="{{searchType}}" ng-model="searchQuery" ng-change="search()">
        </label>
        <button class="button button-clear" ng-click="closeSearchModal()">
            Cancel
        </button>
    </ion-header-bar >

    <ion-content >
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-repeat="item in items" ng-href="{{getEntry(item.id, item.entryType)}}" ng-click="closeSearchModal()">
                <img ng-src="{{item.mainPicture.urlThumb}}" />
                <h2>{{item.defaultName}}</h2>
                <p>{{item.entryType}}</p>
            </ion-item>
        </ion-list>
    </ion-content>

</div>