<ion-view title="Song Info">
    <ion-content class="stable-bg">
        <div class="list card">
            <ion-item class="item item-thumbnail-left">
                <img ng-src="{{song.thumbUrl}}">
                <h2>{{song.defaultName}}</h2>
                <p>{{getAdditionName(song.names)}}</p>
                <p>{{song.songType}}&nbsp;{{getDuration(song.lengthSeconds)}}</p>

            </ion-item>
            <ion-item class="item item-text-wrap" ng-show="song.tags.length">
                <a ng-href="#tab/tag/detail/{{tag}}" ng-repeat="tag in song.tags" class="dark" style="text-decoration: none; font-size:12px;">#{{tag}}&nbsp;&nbsp;</a>
            </ion-item>
        </div> 
        <div class="list card">
            <ion-item class="item-icon-left" ng-click="shareSong(song.id)">
                <i class="icon ion-android-share"></i>
                <h2>Share</h2>
            </ion-item>
        </div>

        <div class="list card" ng-show="PVs.length">
            <ion-item class="item item-avatar item-text-wrap" ng-repeat="pv in PVs" ng-click="open(pv.url)">
                <img ng-src="{{getMediaIcon(pv.service)}}">
                <h2>{{pv.name}}</h2>
                <p>{{pv.pvType}}</p>
            </ion-item>
        </div>
        <div class="list card" ng-init="accordian = [false, false];
                _artist = 0;
                _album = 1;">
            <ion-item 
                ng-show="artists.length"
                ng-click="toggle(_artist)"
                ng-class="{active: isShown(_artist)}">
                <i class="icon" ng-class="isShown(_artist) ? 'ion-ios7-minus-outline' : 'ion-ios7-plus-outline'"></i>
                &nbsp;Artists
            </ion-item>
            <ion-item class="item-accordion item-thumbnail-left"
                      ng-repeat="artist in artists"
                      ng-href="#/tab/artist/{{artist.artist.id}}"
                      ng-show="isShown(_artist)">
                <img ng-src="{{getArtistImage(artist.artist.id)}}">
                <h2>{{artist.name}}</h2>
                <p>{{artist.artist.artistType}}</p>
            </ion-item>

            <ion-item 
                ng-show="albums.length"
                ng-click="toggle(_album)"
                ng-class="{active: isShown(_album)}">
                <i class="icon" ng-class="isShown(_album) ? 'ion-ios7-minus-outline' : 'ion-ios7-plus-outline'"></i>
                &nbsp;Album
            </ion-item>
            <ion-item class="item-accordion item-thumbnail-left"
                      ng-repeat="album in albums"
                      ng-href="#/tab/album/{{album.id}}"
                      ng-show="isShown(_album)">
                <img ng-src="{{getAlbumImage(album.id)}}"> 
                <h2>{{album.name}}</h2>
                <p>{{album.discType}}</p>
            </ion-item>

        </div>
        <div class="padding-bottom">
        </div>
    </ion-content>
</ion-view>