{
  "presets": ["babel-preset-expo"],
  "plugins": [ [ "babel-plugin-root-import", [ { "rootPathSuffix": "src" } ] ] ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  }
}
