node_modules/
.expo/
npm-debug.*
package-lock.json
yarn.lock
.idea
.tmp
ios/Pods
ios/VocaDB/GoogleService-Info.plist
.packages
*.lock
build
android/key.local.properties
android/.gradle
android/**/*.iml
ios/Flutter/Generated.xconfig
ios/Runner/GeneratedPluginRegistrant.*
.flutter-plugins
.dart_tool/*