<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.coolappz.Vocadb" version="1.0.0">
    <name>Vocadb</name>
    <description>
        Vocaloid Database
    </description>
    <author email="augsorn.chanklad@gmail.com" href="http://www.facebook.com/augsorn">
        up2up
    </author>
    <content src="index.html"/>
    <access origin="*"/>
</widget>
