<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.coolappz.Vocadb" version="1.1.5">
    <name>Vocadb</name>
    <description>
        Vocaloid Database
    </description>
    <author email="augsorn.chanklad@gmail.com" href="http://www.facebook.com/augsorn">
        up2up
    </author>
    <content src="index.html"/>
    <access origin="*"/>

     <platform name="android">
              <icon density="nodpi" src="res/android/icon.png"/>
              <icon density="ldpi" src="res/android/ldpi.png"/>
              <icon density="mdpi" src="res/android/mdpi.png"/>
              <icon density="hdpi" src="res/android/hdpi.png"/>
              <icon density="xhdpi" src="res/android/xhdpi.png"/>
     </platform>
</widget>
