name: vocadb
description: VocaDB

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# Read more about versioning at semver.org.
version: 3.0.3

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  webview_flutter: ^0.3.15+1
  quick_actions: ^0.3.2+2
  font_awesome_flutter: ^8.5.0
  firebase_crashlytics: ^0.1.0+3
  flutter_i18n: ^0.7.0
  esys_flutter_share: ^1.0.2
  file_picker: 1.4.0
  package_info: ^0.4.0+6
  path_provider: ^1.3.0
  hive: ^1.0.0
  hive_flutter: ^0.2.1
  provider: ^3.1.0
  rxdart: ^0.22.2
  shared_preferences: ^0.5.3+4
  dio_http_cache: ^0.2.0
  dio: ^3.0.0
  shimmer: ^1.0.1
  youtube_player_flutter: ^6.0.3+2
  cached_network_image: ^2.0.0
  url_launcher: ^5.1.3
  share: ^0.6.2+1
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_cupertino_localizations: ^1.0.1
  firebase_core: ^0.4.0+9
  firebase_analytics: ^5.0.2

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

dev_dependencies:
  mockito: ^3.0.0
  flutter_driver:
    sdk: flutter
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/i18n/
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
