<ion-view title="Recent" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="stable-bg" has-bouncing="true" >
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="vm.doRefresh()"
            >
        </ion-refresher>
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-repeat="song in vm.songs"  ng-href="#/menu/songs/{{song.id}}" >
                <vc-image category="song" url="{{song.thumbUrl}}" ></vc-image>
                <h2>{{song.defaultName}}</h2>
                <p>{{song.artistString}}</p>
                <p>{{vm.getMomentFromNow(song.createDate)}}</p>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll icon="none"  on-infinite="vm.loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
