<ion-side-menus>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Categories</h1>
        </ion-header-bar>
        <ion-content>
            <ul class="list">
                <a nav-clear menu-close href="#/menu/songs" class="item item-icon-left" menu-toggle="left"><i class="icon ion-music-note"></i> Song</a>
                <a nav-clear menu-close href="#/menu/artist" class="item item-icon-left" menu-toggle="left"><i class="icon ion-person"></i> Artist</a>
                <a nav-clear menu-close href="#/menu/album" class="item item-icon-left" menu-toggle="left"><i class="icon ion-disc"></i> Album</a>
            </ul>
        </ion-content> 
    </ion-side-menu>
    <ion-side-menu-content>    
        <ion-nav-bar class="bar-positive nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios-arrow-back"></i> Back</ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-search" ng-click="vm.showEntryModal()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>

    </ion-side-menu-content>


</ion-side-menus>