<ion-item ng-click="vm.toggle()"
          ng-show="vm.tracks.length"
          ng-class="{active: vm.isShown}">
    <i class="icon" ng-class="vm.isShown ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
    &nbsp;Tracks
</ion-item>
<ion-item class="item-accordion"
          ng-show="vm.isShown">
    <div class="list card" >
        <div ng-repeat="group in vm.trackGroup">
            <ion-item class="item-stable" ng-show="vm.trackGroup.length > 1">
                <h2>Disc {{group}}</h2>
            </ion-item>
            <ion-item class="item" ng-href="#/menu/songs/{{track.song.id}}" ng-repeat="track in vm.tracks| filter:{discNumber:group}">
                <div class="row">  
                    <div class="col col-10">{{track.trackNumber}}</div>
                    <div class="col">{{track.song.name}}<p>{{track.song.artistString}}</p></div>
                </div>
            </ion-item>
        </div>
    </div>
</ion-item>