<ion-view title="About">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="stable-bg">
        <div class="list card">
            <ion-item class="item-divider">
                <h2>Contact</h2>
            </ion-item>
            <ion-item class="item-text-wrap">
                VocaDB is a Vocaloid database that includes information, PVs and translations about Vocaloid artists, discography and songs
            </ion-item>
            
            <div ng-repeat="contact in vm.contacts">
            <ion-item class="item-icon-left item-text-wrap" ng-click="vm.open(contact.url)">
                <i ng-class="contact.icon"></i>
                <h2>{{contact.name}}</h2>
                <p>{{contact.description}}</p>
            </ion-item>
            </div>
        </div> 
        
        <div class="list card">
            <ion-item class="item-divider">
                <h2>VocaDB App Developer</h2>
            </ion-item>
            <ion-item class="item-text-wrap">
                Any suggestion or feedback? Here is my contact
            </ion-item>
            
            <div ng-repeat="contact in vm.devContacts">
            <ion-item class="item-icon-left item-text-wrap" ng-click="vm.open(contact.url)">
                <i ng-class="contact.icon"></i>
                <h2>{{contact.name}}</h2>
                <p>{{contact.description}}</p>
            </ion-item>
            </div>
        </div> 
        
        <div class="list card">
            <ion-item class="item">
                <center>
                    <h2>Thank you for support us!</h2>
                </center>
                
            </ion-item>
        </div>
    </ion-content>
</ion-view>