<ion-view title="Artist Info">
    <ion-content class="stable-bg">
        <div class="list card">
            <ion-item class="item-thumbnail-left">
                <!--<img ng-src="{{vm.artist.image}}" >-->
                <vc-image category="artist" item-id="{{vm.artist.id}}" can-view="true"></vc-image>
                <h2>{{vm.artist.defaultName}}</h2> 
                <p>{{vm.artist.additionNames}}</p>

                <p>{{vm.artist.artistType}}</p>
            </ion-item>
            <ion-item class="item-text-wrap" ng-show="vm.artist.tags.length">
                <a ng-href="#menu/tag/detail/{{tag.name}}" ng-repeat="tag in vm.artist.tags" class="dark" style="text-decoration: none; font-size:12px;">#{{tag.name}}&nbsp;&nbsp;</a>
            </ion-item>
            <ion-item class="item-text-wrap" ng-show="vm.artist.description" >
                <p ng-bind-html="vm.artist.description"></p>
            </ion-item>
        </div>
        
        <div class="button-bar padding">
            <vc-share-button category="artist" id="{{vm.artist.id}}"></vc-share-button>
            <vc-fav-button category="artist" item="vm.artist"></vc-fav-button>
        </div>

        <div class="list card">
            
            <vc-weblink-accordian header="Web links" 
              items="vm.artist.webLinks"></vc-weblink-accordian>
            
            
            <vc-accordian header="Recent albums" 
                          category="album"
                          items="vm.latestAlbums" 
                          title="name" 
                          subtitle="artistString" 
                          href="#/menu/album"></vc-accordian>
            
            <vc-accordian header="Popular albums" 
                          category="album"
                          items="vm.popularAlbums" 
                          title="name" 
                          subtitle="artistString" 
                          href="#/menu/album"></vc-accordian>
            
            <vc-accordian header="Recent songs / PVs" 
                          category="song"
                          items="vm.latestSongs" 
                          title="name" 
                          subtitle="artistString" 
                          image="thumbUrl" 
                          href="#/menu/songs"></vc-accordian>
            
            <vc-accordian header="Popular songs " 
                          category="song"
                          items="vm.popularSongs" 
                          title="name" 
                          subtitle="artistString" 
                          image="thumbUrl" 
                          href="#/menu/songs"></vc-accordian>
        </div>
        
        

        <div class="padding-bottom">
        </div> 
    </ion-content>
</ion-view>
